header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CE2829;
  height: 20vh;
}
.div-order {
  text-align: left;
}
header h1 {
  color:aliceblue;
}
header p {
  color:aliceblue;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 3px;
}
header span {
  font-weight: bold;
}